= form_for Discussion.new, remote: true do |f|

  = hidden_field_tag :zone, params[:zone]
  = hidden_field_tag :district, params[:district]
  = hidden_field_tag :fid, params[:fid]

  = f.hidden_field :fid, value: params[:fid]

  .form-group
    = f.label :title
    = f.text_field :title,
      placeholder: t('discussions.discussion.title.new_default'),
      class: 'form-control'

  = f.submit t('discussions.discussion.save'), class: 'btn btn-default btn-xs'
