- if list.present?

  .panel-group.discussion-list{ role: 'tablist' }
    - list.each do |discussion|
      .panel.panel-default
        .panel-heading{ role: 'tab' }
          %a.collapsed{ href: "[data-discussion=#{discussion.id}]",
          data: { toggle: 'collapse', parent: '.discussion-list' }}
            = discussion_title discussion
          .pull-right
            - if can?(:destroy, discussion)
              = link_to discussion_path(id: discussion.id),
                        method: :delete, remote: true, class: 'delete',
                        data: { confirm: t('discussions.delete_confirmation') } do
                = icon('times')
        .panel-collapse.collapse.discussion-body{ role: 'tabpanel',
        data: { discussion: discussion.id }}
          .panel-body

- else
  .alert.alert-info
    - nothing ||= t('discussions.no_discussions')
    = nothing
