%h4.text-center
  = t 'discussions.title'

%dl.dl-horizontal
  %dt= t 'discussions.district'
  %dd= params[:district]
  - if params[:zone].present?
    %dt= t 'discussions.zone'
    %dd= params[:zone]

- if @discussions.present?

  .panel-group#discussion-list{ role: 'tablist' }
    - @discussions.each do |discussion|
      .panel.panel-default
        .panel-heading{ role: 'tab' }
          %a.collapsed{ href: "[data-discussion=#{discussion.id}]",
          data: { toggle: 'collapse', parent: '#discussion-list' }}
            = discussion.title
        .panel-collapse.collapse.discussion-body{ role: 'tabpanel',
        data: { discussion: discussion.id }}
          .panel-body
            -#TEMP discussion body

%small
  %i
    FID:
    = params[:fid]
