%h4.text-center
  = t 'discussions.title'

%dl.dl-horizontal
  %dt= t 'discussions.district'
  %dd= params[:district]
  - if params[:zone].present?
    %dt= t 'discussions.zone'
    %dd= params[:zone]
  %dt= t 'krakow.mpzp.FID'
  %dd
    = params[:fid]
    %i.fa.fa-question{ title: t('help.fid') }

.btn.btn-success.btn-xs{ data: { toggle: 'collapse', placement: 'bottom' },
href: '#new-discussion',
title: t('discussions.discussion.new.title') }
  %i.fa.fa-plus
  = t 'discussions.discussion.new.label'

.collapse#new-discussion
  .row
    .col-lg-9
      = render 'form'

#discussions
  = render partial: 'list', object: @discussions
