- if Discussion.count == 0

  %h4.text-center
    = t 'activerecord.models.discussions'

  .alert.alert-info
    = t '.no_discussions'

- else

  %h4.text-center
    = t '.recently_created_title'

  = render partial: 'list',
           object: Discussion.recently_created,
           locals: { nothing: t('.no_discussions') }

  - recently_commented = Discussion.recently_commented.all

  - if recently_commented.present?

    %h4.text-center
      = t '.recently_commented_title'

    = render partial: 'list',
             object: recently_commented
