%ul.list-group.discussion

  %li.list-group-item.discussion-header
    %h3
      = link_to discussions_path(fid: @discussion.fid, list_only: true),
                id: 'back-to-discussions',
                remote: true, class: 'pull-left' do
        = icon('arrow-left')
    %h4.list-group-item-heading
      = discussion_title @discussion

  - @discussion.comments.each do |comment|
    %li.list-group-item.discussion-item
      .avatar
        %img{ src: comment.author.image }
      .comment-body
        %small.time
          = comment.author.name
          = time_ago comment.created_at
        %p
          = comment.content

.box
  .avatar
    %img{ src: current_user.image }
  .page-feed-content
    = form_for Comment.new, remote: true do |f|
      .form-group
        = f.hidden_field :discussion_id, value: @discussion.id
        = f.text_area :content,
          placeholder: t('discussions.comment.content.new_default'),
          class: 'form-control'

      = f.submit t('discussions.comment.save'), class: 'btn btn-default btn-xs'
