%h4.text-center
  = t 'instructions.welcome', title: t('title')

%p
  = t 'instructions.what_you_see', city: 'Kraków'

%dl.dl-horizontal
  %dt= t 'instructions.basics.title'
  %dd

  %small
    %dt= t 'instructions.basics.click_district.label'
    %dd= t 'instructions.basics.click_district.effect'

    %dt
      = icon 'expand'
      = t 'instructions.basics.zoom_out.label'
    %dd= t 'instructions.basics.zoom_out.effect'

    %dt
      = icon('facebook-square', '', class: 'facebook')
      = icon('google-plus-square', '', class: 'google')
      = t 'instructions.basics.fb_g_plus.label'
    %dd= t 'instructions.basics.fb_g_plus.effect'


    %dt TODO Add further
    %dd instructions here...

%p= t 'instructions.wishes'
