%h4.text-center
  = @data[:NAZWA]
  - if @data[:NR_PLANU].to_i != 0
    = surround '(',')' do
      = t 'krakow.mpzp.NR_PLANU'
      = @data[:NR_PLANU]


%dl.dl-horizontal
  %dt= t 'krakow.mpzp.Status'
  %dd= t "krakow.mpzp.#{@data[:STATUS]}"


%dl.dl-horizontal
  %dt= t 'map.dates'
  %dd

  %small
    - %w(DATA_PRZYS DATA_UCHWA DATA_DUWM DATA_OBOWI).each do |key|
      %dt= t "krakow.mpzp.#{key}"
      %dd
        - if @data[key].present?
          = mseconds_since_epoch_to_time @data[key]
        - else
          %em.text-muted
            = surround '(',')' do
              = t 'map.no_date'

%dl.dl-horizontal
  %dt= t 'map.additional_data'
  %dd

  %small
    - %w(PROWADZACY WYKONANIE FID).each do |key|
      %dt= t "krakow.mpzp.#{key}"
      %dd
        - if @data[key].present?
          = @data[key]
        - else
          %em.text-muted
            = surround '(',')' do
              = t 'map.no_data'


%dl.dl-horizontal
  %dt= t 'krakow.mpzp.BIP'
  %dd
    %a{ href: @data[:WWW] }
      = t 'krakow.mpzp.bip_link'
