.row
  .col-sm-1
    %ul.nav.nav-stacked.main-menu
      - tab_data = { toggle: 'tab', placement: 'right' }
      %li.active
        %a{ href: '#info-tab',
            data: tab_data,
            title: t('nav.tabs.info') }
          = icon('map-marker')
      %li
        %a{ href: '#messages-tab',
            data: tab_data,
            title: t('nav.tabs.messages') }
          = icon('weixin')
      %li
        %a{ href: '#amendments-tab',
            data: tab_data,
            title: t('nav.tabs.amendments') }
          = icon('files-o')
      %li
        %a{ href: '#profile-tab',
            data: tab_data,
            title: t('nav.tabs.profile') }
          = icon('user')

  #left-section-content.col-sm-11.tab-content
    #info-tab.tab-pane.active
      = t 'nav.tabs.info'
    #messages-tab.tab-pane
      = t 'nav.tabs.messages'
    #amendments-tab.tab-pane
      = t 'nav.tabs.amendments'
    #profile-tab.tab-pane
      = t 'nav.tabs.profile'
