.row
  .col-sm-1
    %ul.nav.nav-stacked.main-menu
      %li.active
        %a(href="#info-tab" data-toggle="tab")
          = icon('map-marker')
      %li
        %a(href="#messages-tab" data-toggle="tab")
          = icon('weixin')
      %li
        %a(href="#amendments-tab" data-toggle="tab")
          = icon('files-o')
      %li
        %a(href="#profile-tab" data-toggle="tab")
          = icon('user')

  .col-sm-11.tab-content
    #info-tab.tab-pane.active
      = t 'nav.tabs.info'
    #messages-tab.tab-pane
      = t 'nav.tabs.messages'
    #amendments-tab.tab-pane
      = t 'nav.tabs.amendments'
    #profile-tab.tab-pane
      = t 'nav.tabs.profile'
