%header.navbar.navbar-fixed-top.navbar-default(role="navigation")
  .container-fluid
    .row
      .col-xs-12.col-sm-5.top-left-panel
        %a.logo(href=root_path)
          = icon('cubes')
          = t('title')
        .btn-group.btn-group-xs.pull-right.navbar-btn
          = link_to 'EN', { locale: :en },
                    title: t('nav.to_en'),
                    data: { placement: 'bottom' },
                    class: "btn btn-default #{'active' if en?}"
          = link_to 'PL', { locale: :pl },
                    title: t('nav.to_pl'),
                    data: { placement: 'bottom' },
                    class: "btn btn-default #{'active' unless en?}"

      .col-xs-12.col-sm-7.top-panel
        =yield :action_nav
        %ul.nav.navbar-nav.pull-right.panel-menu
          - if current_user
            %li.dropdown
              %a.dropdown-toggle.account(href="#" data-toggle="dropdown")
                .avatar
                  %img.img-rounded{src: current_user.image}
                = icon('angle-down', '', class: 'pull-right')
                .user-mini.pull-right
                  %span.welcome= t('welcome')
                  %span= current_user.name
              %ul.dropdown-menu
                %li
                  %a(href="#")
                    = icon('user')
                    %span= t('section.profile')
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    = icon('power-off', t('devise.logout'))
          - else
            %li
              = link_to user_omniauth_authorize_path(:facebook),
                        data: { placement: 'bottom' },
                        title: t('devise.login.facebook') do
                = icon('facebook-square', '', class: 'facebook')
            %li
              = link_to user_omniauth_authorize_path(:google_oauth2),
                        data: { placement: 'bottom' },
                        title: t('devise.login.google') do
                = icon('google-plus-square', '', class: 'google')
