%header.navbar.navbar-fixed-top.navbar-default(role="navigation")
  #head-container.container-fluid
    .row
      #logo.col-xs-8.col-sm-3
        %a(href=root_path)
          = icon('cubes')
          = t('title')

      .col-xs-4.col-sm-1.dark-nav
        %ul.nav.navbar-nav.pull-right
          %li
            .btn-group.btn-group-xs.navbar-btn
              = link_to 'EN', { locale: :en }, class: "btn btn-default #{'active' if en?}"
              = link_to 'PL', { locale: :pl }, class: "btn btn-default #{'active' unless en?}"
      #top-panel.col-xs-12.col-sm-8
        =yield :action_nav
        %ul.nav.navbar-nav.pull-right
