!!! 5
%html
  = render 'layouts/head'
  %body(data-dispatch=body_data_dispatch)
    = render 'layouts/navbar'

    #main.container-fluid
      .row
        .col-xs-2.col-sm-5
          = render 'layouts/left_section'

        #content.col-xs-12.col-sm-7.full-content
          = yield
          #zoning-map

    = render 'layouts/flash'
    :javascript
      console.log('INIT: setting current locale');
      I18n.locale = "#{I18n.locale}";
